<div class="info">
  Recipe #<%= id %> by <%= authorId %>
</div>

<div class="statement">
  <%= statement %>
</div>

<div class="recipe">
  <%= recipe %>
</div>

<div class="bake">
  <p class="instructions"> <%= bakingInstructions %> </p>
  <div class="baking-form"> </div>
</div>

<div class="muffin">
  <%= muffin %>
</div>
