<div class="info">
  Recipe #<%= id %> by <%= authorId %>
</div>

<div class="statement">
  <%= statement %>
</div>

<div class="recipe">
  <%= recipe %>
</div>

<div class="bake">
  <p class="instructions"> <%= bakingInstructions %> </p>
  <div class="baking-form">
    <div class="ingredients">
      <% _.forEach(ingredients, function(ingredient) { %>
      <div class="form-group">
        <label for="<%= ingredient %>"><%= ingredient %></label>
        <input type="text" class="form-control" id="<%= ingredient %>" placeholder="">
      </div>
      <% }) %>
    </div>
    <button type="submit" class="btn btn-default">Bake It</button>
  </div>
</div>

<div class="muffin">
  <div class="form-group">
    <label for="muffin">Muffin</label>
    <input type="textbox" class="form-control" id="muffin" placeholder="">
  </div>
</div>
